{% load static %}
    <button type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#myModal">Добавить воспоминание</button>

    <div class="modal" tabindex="-1" role="dialog" id="myModal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Добавление воспоминания</h5>
          </div>
          <div class="modal-body">
            <p>Укажите точку на карте, название воспоминания и его описание.</p>
            <form method="post">
              {% csrf_token %}
              <div id="map" style="width: 100%; height: 400px"></div>
              <div class="mb-3">
                <label for="InputTitle" class="form-label">Название</label>
                <input type="text" class="form-control" name="title" id="InputTitle" aria-describedby="tipTitle">
                <div id="tipTitle" class="form-text">Введите название воспоминания</div>
              </div>
              <div class="mb-3">
                <label for="InputDescription" class="form-label">Описание</label>
                <input type="text" class="form-control" name="description" id="InputDescription" aria-describedby="tipDescription">
                <div id="tipDescription" class="form-text">Введите комментарий о воспоминании</div>
              </div>
              <div class="modal-footer">
                <a href="{% url 'index' %}"><button type="submit" class="btn btn-primary">Добавить</button></a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
