{% extends 'main_app/layout.html' %}
{% load socialaccount %}
{% load static %}

{% block title %}Главная страница{% endblock %}

{% block login %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <a href="#" class="navbar-brand">
            <img alt="photo" src="{{ user.socialaccount_set.all.0.get_avatar_url }}">
        </a>
        <a href="#" class="navbar-brand">
            <p>Добро пожаловать, {{ user.socialaccount_set.all.0.extra_data.name }}!</p>
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <a href="{% url 'account_logout' %}" class="btn btn-outline-light mr-2">Выход</a>
        </div>
    </nav>

    <!-- Create memory button, form -->
    {% include 'main_app/addmemory.html' %}
    {% for post in posts %}
        <p>{{ post }}</p>
    {% endfor %}

{% endblock %}

{% block logout %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <a href="#" class="navbar-brand">
            <p>Places Remember</p>
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <a href="{% provider_login_url 'google' %}" class="btn btn-outline-light mr-2">Войти с помощью Google</a>
            <a href="" class="btn btn-outline-light mr-2">Войти с помощью VK (пока не реализовано)</a>
        </div>
    </nav>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur deleniti mollitia odit officia provident quidem repellendus ut? Accusamus, architecto, autem enim ipsum laborum nam perferendis similique tempora vero vitae voluptatum!</l></p>
{% endblock %}
