{% extends 'main_app/layout.html' %}
{% load socialaccount %}
{% load static %}

{% block title %}Главная страница{% endblock %}

{% block login %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <a href="#" class="navbar-brand">
            <img alt="photo" src="{{ user.socialaccount_set.all.0.get_avatar_url }}">
        </a>
        <a href="#" class="navbar-brand">
            <p>Добро пожаловать, {{ user.socialaccount_set.all.0.extra_data.name }}!</p>
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <a href="{% url 'account_logout' %}" class="btn btn-outline-light mr-2">Выход</a>
        </div>
    </nav>

    <p>У вас нет ни одного воспоминания</p>

    <!-- Create memory button, form -->
    {% include 'main_app/addmemory.html' %}

    <a href="{% url 'account_logout' %}">Logout</a>
{% endblock %}

{% block logout %}
    <h1>Главная страница</h1>
    <p>Текст главной страницы</p>
    <a href="{% provider_login_url 'google' %}">Войти с помощью Google</a>
    <a href="">Войти с помощью VK (пока не реализовано)</a>
{% endblock %}
