{% extends 'main_app/layout.html' %}
{% load socialaccount %}

{% block title %}Главная страница{% endblock %}

{% block login %}
    <h1>Страница пользователя</h1>
    <p>Welcome, {{ user.username }} !</p>
    <img src="{{ user.socialaccount_set.all.0.get_avatar_url }}" />
    <p>У вас нет ни одного воспоминания</p>

    <!-- Create memory button -->
    <button type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal">Добавить воспоминание</button>

    <div class="modal" tabindex="-1" role="dialog" id="exampleModal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Modal body text goes here.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary">Save changes</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <a href="{% url 'account_logout' %}">Logout</a>
{% endblock %}

{% block logout %}
    <h1>Главная страница</h1>
    <p>Текст главной страницы</p>
    <a href="{% provider_login_url 'google' %}">Войти с помощью Google</a>
    <a href="">Войти с помощью VK (пока не реализовано)</a>
{% endblock %}
